.AddColumnModal {
  overflow-y: auto;

  :global .modal-lg {
    width: calc(100vw - 60px);
    max-width: 1000px;
  }
}

.spinnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:nth-child(1) {
      height: 500px;
    }

    &:nth-child(2) {
      height: 100px;
    }

    & > div {
      margin: 0;
    }
  }
}

.content {
  display: flex;
  min-height: 500px;
}

.menus {
  & > div:first-child {
    min-height: 342px;
  }

  & > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 20px;
    min-height: 238px;
  }
}

.preview {
  width: 100%;
}

.previewPlaceholder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  padding: 20px;
  color: grey;
  font-size: 14px;
  height: 500px;
  border: 1px dashed #ccc;
}

.SlicePreview {
  min-height: 500px;
}

.fadein {
  opacity: 0;
  transition: opacity 0.3s;

  &:not(:empty) {
    opacity: 1;
  }
}

.CategoricalDataPreview {
  & > div:first-child {
    min-height: 500px;
    @extend .fadein;
  }
}

.helpText {
  margin: 5px;
  font-style: italic;
  text-align: center;
}

.continuousFilterContainer {
  margin-left: 15px;

  & > div {
    @extend .fadein;
  }
}
