.SliceTable {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 90px);
}

.loadingContainer {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.errorContainer {
  height: 100%;

  p {
    font-size: 20px;
  }
}

.Controls {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  gap: 8px;
  justify-content: space-between;

  & > div:nth-child(2) {
    display: flex;
    gap: 8px;
  }
}

.filterBadge {
  margin-left: 8px;
  background-color: #e3f2fd;
  border-radius: 50%;
  padding: 2px 8px;
  outline: 1px solid #bbdefb;
  color: blue;
}

.Actions {
  display: flex;
  width: 100%;
  margin-top: 20px;
  gap: 8px;
}

.editableColumnHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-right: 8px;

  & > div:first-child {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; /* fallback */
    line-clamp: 4; /* standard */
  }
}

.hidden {
  display: none;
}
