.Section {
  width: 100%;
  border: 1px solid #7d7d7d;

  .sectionContent {
    padding: 16px;
    overflow: hidden;
    width: 100%;
  }
}

.SectionStack {
  width: 100%;
  max-width: 100%;
  overflow: auto;

  .Section {
    width: 100%;
  }
}

.sectionTitle {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  margin: 0;
  color: #fff;
  background-color: #7b8cb2;
  font-weight: normal;
  cursor: pointer;

  button {
    line-height: 10px;
    background-color: transparent;
    border: none;
  }
}
