/* styling for the whole resources page container, including the filters on the side */
.ResourcesPageContainer {
  font-family: "Roboto";
  display: grid;
  grid-template-rows: 110px calc(100vh - 110px - 50px);
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "header header header"
    "nav post post";
}

.resourcesPageHeader {
  grid-area: header;
  padding-left: 40px;

  h1 {
    font-weight: bold;
  }

  h3 {
    font-weight: normal;
  }
}

/* styling for the post content */
.postContentContainer {
  grid-area: post;
  overflow-y: auto;
  a {
    overflow-wrap: break-word;
  }
}

.postContent {
  padding: 0 50px 0 50px;
}

.postDate {
  // text-align: right;
  padding: 5px 0 0 0;
}

/* styling for the nav accordions section */
.postsNavList {
  grid-area: nav;
  height: calc(100vh - 110px - 50px);
  overflow-y: auto;
  background-color: #f5f8fd !important;
}

.navPostItem {
  border: none;
  border-bottom: 1px solid lightgray;
  padding-left: 40px;
  padding-right: 20px;
  font-weight: 500;
  font-size: 16px;
}
