// TODO: Get rid of :global and convert the corresponding component to CSS
// Module format.
:global {
  .custom_csv_example_table {
    display: inline;
    font-size: 12px;
    td {
      padding: 2px;
      border: 1px solid #ddd;
    }
  }

  .has-error {
    //  mimics the color from react bootstrap forms.less, but allows us to apply it with just the has-error class
    color: #a94442;
  }
}
