:global {
  // A parent modal that launches a confirmation modal
  //  should not be fully hidden, just darkened.
  // This overrides the behavior specified here:
  // https://github.com/broadinstitute/depmap-portal/blob/e1e9134/frontend/packages/@depmap/data-explorer-2/src/styles/ContextBuilderV2.scss#L16-L36
  div[role="dialog"]:has(~ div[role="dialog"] .stackableConfirmationModal) {
    .modal-content {
      display: block !important;
      filter: brightness(0.5);
      transition: filter 0.3s ease;
    }
  }
}

.dontShowThisAgain {
  label {
    font-weight: normal;
    cursor: pointer;
  }

  span {
    margin: 5px;
    vertical-align: top;
  }
}
