:global {
  // A parent modal that launches a confirmation modal should get darkened.
  div[role="dialog"]:has(~ div[role="dialog"] .stackableConfirmationModal) {
    .modal-content {
      filter: brightness(0.5);
      transition: filter 0.3s ease;
    }
  }
}

// Never allow modal backdrops to stack.
:global div[role="dialog"] ~ div[role="dialog"] {
  .modal-backdrop {
    display: none;
  }
}

.dontShowThisAgain {
  label {
    font-weight: normal;
    cursor: pointer;
  }

  span {
    margin: 5px;
    vertical-align: top;
  }
}
