.dependencyMeter {
  position: relative;
  display: inline-flex;
  align-items: center;
  border-left: 1px black solid;
}

// center text in div
.errorMessage {
  display: grid;
  place-items: center;
  height: 50px;
}

// Style for truncating names
.ellipsisStyle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tileDatasetTitle {
  font-size: 16px;
  padding-bottom: 10px;
}

.tableDatasetTitle {
  font-size: 15px;
}

.columnStyle {
  text-align: center;
  padding: 8px;
}

.cellStyle {
  padding: 4px;
}

.TopCoDependencies {
  max-width: 350px;
  td,
  th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    box-sizing: border-box; // Ensures padding doesn't increase total cell width
  }
}

.tableWrapper {
  padding-bottom: 10px;
}
