{% extends "full_page.html" %} 

{% block page_title %}
    Depmap Resources | Depmap Portal
{% endblock %}

{% block css %} 
    {% assets 
        filters="libsass",
        output="public/css/resources.css", "css/public/resources.scss", "css/shared/*.scss"
    %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

{% endblock %} 

{% block content %}
    <div class="full-screen-div">
        {% include "nav_footer/nav.html" %}
        <div id="react-resources-page"></div>
    </div>
{% endblock %}
{% block js %}
<script id="react-resources-page-data" type="application/json">
    {
        "rootCategory": {{ root_category|tojson|safe }}
    }
</script>
<script src="{{ webpack_url('resourcesPage.js') }}"></script>

{% endblock %}
