.page {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
  padding: 20px 42px 20px 20px;
  padding-bottom: none;
  height: calc(100vh - 50px);
}

.header {
  padding-left: 20px;

  h1 {
    font-size: 42px;
    font-weight: bold;
    margin: 0 0 28px 0;
  }
}

.main {
  display: flex;
}

.filters {
  display: flex;
  min-width: 180px;
  width: 230px;
  margin-top: 23px;
  height: calc(100vh - 191px);
  overflow: visible;
}

.plot {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 14px;
  margin-right: 14px;
  overflow: visible;

  & > div {
    border: 2px solid #b8b8b8;

    &:not(:last-child) {
      border-bottom: none;
    }
  }
}

.tiles {
  width: 315px;
}

.headerForm {
  display: inline;
}

.headerButton {
  border: none;
  font-size: 14px;
  background-color: transparent;
  margin-left: 16px;

  &:disabled {
    color: #aaa;
  }

  :global {
    svg {
      position: relative;
      top: 1px;
      margin-right: 5px;
    }
  }
}
