<div class="card_wrapper">
    <div class="card_border">
        <br>
        {% if about.structure_url %}
        <div>
            <img class="image_width_100" src="{{ about.structure_url }}">
        </div>
        {% endif %}
        <div class="card_padding">
            <div>
                <div>
                    {% if about.target_or_mechanism %}
                    <div><b>Target/Mechanism</b>: {{ about.target_or_mechanism }}</div>
                    {% endif %}
                    {% if about.targets %}
                    <div><b>Target</b>: {% for target in about.targets %}<a href="{{ target.url }}">{{ target.label }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</div>
                    {% endif %}
                    {% if about.chembl_id %}
                    <div><b>ChEMBL ID</b>: <a href="{{ about.chembl_url }}" target="_blank">{{ about.chembl_id }}</a></div>
                    {% endif %}
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
