{% if correlations | length > 0 %}
<div class="card_wrapper">
    <div class="card_border">
        <div>
            <h2 class="no_margin cardtitle_text">Top Correlated Expression</h2>
        </div>
	<div class="card_padding">
	    <table style="width: 100%">
                <thead>
                    <tr><th></th><th>Gene</th><th>Pearson correlation</th></tr>
                </thead>
		<tbody>
		    {% for entry in correlations %}
                    <tr>
			<td><a href="{{ entry['interactive_url'] }}" target="_blank">Plot</a></td>
			<td><a href="{{ entry['gene_url'] }}">{{ entry["gene_symbol"] }}</a></td>
			<td>{{ '%0.2f'| format(entry["correlation"]) }}</td>
		    </tr>
                    {% endfor %}
                    </tbody>
            </table>
	    <hr class="hr_margin2">
	    <p>All viability profiles for a given compound were correlated against all expression features. The highest correlated viability profile for each gene reported in the table above. Clicking 'plot' will visualize that comparison and show which dataset was used for the viability profile.</p>
	</div>
    </div>
</div>
{% endif %}
