{% if dep_dist %}
<div class="card_wrapper">
    <div class="card_border">
        <div>
            <h2 class="no_margin cardtitle_text">Sensitive Cell Lines</h2>
        </div>
        <div class="card_padding">
            <div>
                <h4>{{ dep_dist.title }}</h4>
                <h4 style="color: {{ dep_dist.color }}">{{ dep_dist.num_lines }} cell lines shown</h4>
            </div>
            <hr class="hr_margin">
            <div>
                <div class="plot_width plot_padding1">
                    {{ dep_dist.svg | safe }}
                </div>
            </div>
            <div>
                <p class="no_margin plot_label">{{ dep_dist.units }}</p>
            </div>
            <hr class="hr_margin2">

            {% if dep_dist_caption %}
            {{ dep_dist_caption }}
            {% endif %}

            {% if not is_mobile %}
            <a class="btn_viewmore pull-right" href="javascript:clickTab('#dependency')"><span>View more </span></a>
            {% endif %}
            <br>
            <br>
            <br>
        </div>
    </div>
</div>
{% endif %}