.linkedBoxPlotTitle {
  font-size: 12px;
  font-weight: normal;
  color: #4479b2;
}

// When the title of the box plot is equal to the context the user is
// on, this styling is used.
.unlinkedBoxPlotTitle {
  font-size: 12px;
  font-weight: 600;
  color: #333333;
}

// We use css to hide Plotly's toolbar (instead of configuring it not to have
// one) so we can still dispatch clicks on its buttons (the only way to trigger
// a zoom).
.BoxPlot :global .modebar {
  display: none;
}
