.container {
  display: flex;
}

.ExtendedSelect {
  display: inline-block;

  &:not(:first-child) {
    label {
      margin-top: 5px;
    }
  }
}

.selectorLabel {
  text-align: start;
  font-size: 12px;

  &:not(.inlineLabel) {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &.inlineLabel {
    font-size: 13px;
    margin-right: 6px;
    display: inline-block;
  }
}

.detailsButtonContainer {
  button {
    all: unset;
    cursor: pointer;
    color: #337ab7;
    cursor: pointer;
    font-weight: bold;

    &:hover,
    &:focus {
      color: #23527c;
    }

    &:focus-visible {
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: 3px;
    }
  }
}

.swatchContainer {
  position: relative;
  top: -9px;
}

.swatch {
  display: inline-block;
  width: 10px;
  height: 38px;
  left: -10px;
  position: absolute;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.Select {
  display: inline-block;
  width: 162px;
  font-size: 12px;

  &.withSwatch {
    & > div {
      border-radius: 0 4px 4px 0;
    }
  }
}

.ContentEditableDivInput {
  & > div {
    display: inline-block;
    min-height: 32px;
    vertical-align: middle;
  }

  div[contenteditable] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 98px;
    min-height: 32px;
    margin-left: 2px;
    white-space: break-spaces;
    border: none;
    outline: none;

    &:empty {
      // vertically centers cursor in Chrome.
      line-height: 32px;

      // vertically centers cursor in Firefox.
      &::before {
        content: "\200B";
      }
    }
  }
}

.hidden {
  visibility: hidden;
}

.underlineDiv {
  position: absolute;
  top: 2px;
  width: 98.1px;
  margin-left: 2px;
  white-space: break-spaces;
  color: transparent;
  pointer-events: none;

  div[contenteditable]:empty + & {
    display: none;
  }
}

.placeholder {
  // https://css-tricks.com/almanac/properties/l/line-clamp/#aa-so-whats-the-catch
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.selectError > div {
  border: 1px solid #a94442;

  &:hover {
    border: 1px solid #a94442;
  }
}

:global {
  #extended-select-tooltip {
    &:not(:last-child) {
      display: none;
    }
  }

  #tooltip-blocker {
    & + .tooltip,
    & + .tooltip + .tooltip,
    & + .tooltip + .tooltip + .tooltip {
      display: none;
    }
  }
}
