.PeddepPage {
  hr {
    @media screen and (min-width: 1366px) {
      margin: 15px 40px;
    }
    @media screen and (min-width: 768px) and (max-width: 1365px) {
      margin: 15px 20px;
    }
    @media screen and (max-width: 768px) {
      margin: 15px 10px;
    }
    border-top: 1px solid black;
  }
}

.PeddepPageContainer {
  font-family: roboto;
  @media screen and (min-width: 1366px) {
    padding: 0px 90px;
  }
  @media screen and (min-width: 768px) and (max-width: 1365px) {
    padding: 0px 50px;
  }
  @media screen and (max-width: 768px) {
    padding: 0px 20px;
  }

  h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;
    margin: 20px 0;
    color: #333333;
  }
  h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin: 20px 0;
    color: #333333;
  }
  h3 {
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
  }
  h4 {
    font-size: 22px;
    line-height: 28px;
    font-weight: normal;
  }
  h5 {
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    font-style: normal;
  }
  p {
    font-size: 14px;
  }

  a {
    color: #8658ab;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 1px solid #8658ab;
  }
  a:hover {
    border-bottom: none;
  }

  &.highlightBackground {
    margin-top: 20px;
    background-repeat: no-repeat;
    background-position: right;
    min-height: 500px;

    @media screen and (max-width: 1024px) {
      background-size: contain contain;
    }
    @media screen and (min-width: 1920px) {
      background-size: calc(100vw * 1 / 3);
    }
  }
}

.highlight {
  .title {
    padding-top: 30px;

    @media screen and (min-width: 1365px) {
      padding-right: 50px;
    }
  }
  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: 5fr 4fr;
    .highlightText {
      padding-right: 15px;
    }
  }
}

.peddepBtn,
.peddepBtn:focus,
.peddepBtn:visited {
  color: white;
  background-color: #8658ab;
  border-color: #8658ab;
  margin-top: 40px;
  padding: 10px;
}

.peddepBtn:hover {
  color: #8658ab;
  background-color: white;
  border-color: #8658ab;
}

.dataPlotContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}

.dataInfo {
  display: flex;
  gap: 2em;

  h4 {
    color: #8658ab;
  }

  h5 {
    padding-bottom: 10px;
  }
}

.subgroupPlot {
  h1 {
    font-size: 18px;
    font-weight: 500;
    margin: 5px 0;
  }
  hr {
    margin: 10px 10px 10px 0px;
    border-top: 1px solid black;
  }
}

.aboutPeddep {
  display: grid;
  .aboutPeddepColumns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
  }

  h4 {
    margin-bottom: 20px;
  }
}

.pediatricContextSection {
  @media screen and (max-width: 767px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: 2fr 1fr;
    // grid-template-areas: "'a a''b b'";
    gap: 2%;
  }
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: 2fr 1fr;
    // grid-template-areas: "'a a a a''b b b b'";
    gap: 2%;
  }
}

.cardContainer {
  display: grid;
  grid-template-rows: 1fr 1.5fr;
  h5 {
    font-size: 20px;
    font-weight: 700;
  }
  h6 {
    font-size: 14px;
    line-height: 19px;
  }

  .cardImg {
    height: 100%;
  }
  .cardText {
    height: auto;
  }
}

.plotContainer {
  height: 500; // should match plot height
}
