.Tab {
  color: #333333 !important;
  font-weight: normal !important;
  font-size: 16px !important;
}

.Tab[aria-selected="true"] {
  font-weight: bold !important;
  color: #405587 !important;
  margin-bottom: 1px;
  background-size: 100% 3px !important;
  background-image: linear-gradient(#405587, #405587) !important;
}

.Tab:focus {
  outline: none;
}

.pseudoLink {
  all: unset;
  cursor: pointer;
  color: #337ab7;
  text-decoration: underline;
  cursor: pointer;
  padding-left: 3px;
  padding-right: 3px;

  &:hover,
  &:focus {
    color: #23527c;
  }

  &:focus-visible {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: 3px;
  }
}

.Tab:focus-visible {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
}

.Tab:disabled {
  color: #808080;
  cursor: not-allowed;
}
.TabPanel {
  width: 100%;
}

.TabPanels {
  padding: 0px !important;
}

.TabList {
  display: flex;
  border-bottom: 1px solid #000000;

  .vertical & {
    flex-direction: column;
    max-width: 200px;
    min-width: 200px;
  }
}

.page {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 2px auto;
  padding-top: 20px;
  padding-bottom: none;
  height: calc(100vh - 50px);
}

.header {
  padding-left: 20px;
  margin-bottom: 18px;

  h1 {
    color: #333333;
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 9px 0;
  }

  & > p {
    font-size: 16px;
  }
}

.main {
  width: 100%;
}

.mainContent {
  display: grid;
  // Defines columns for left side bar and the "tab contents"
  // which includes the right side bar on the sensitivity and
  // dependency tabs.
  grid-template-columns: 0.3fr auto;
}

.lineageSelection {
  height: 100%;
  margin-right: 0px;
  padding-bottom: 35px;
  margin-top: 30.5px;
  border-top: 1px solid #000000;
  width: 275px;
  overflow: visible;

  @media (max-width: 850px) {
    width: 232px;
  }

  .overviewText {
    margin-top: 25px;
    background: white;
    padding: 14px;
    border-radius: 4px;
    box-shadow: 1px 2px 2px 1px #0000001a;
  }

  .Tab[aria-selected="true"] {
    font-weight: bold !important;
    color: #35a5a5 !important;
    margin-bottom: 0px;
    background-size: 100% 3px !important;
    background-image: linear-gradient(#35a5a5, #35a5a5) !important;
  }

  .Tab {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .TabPanel {
    background-color: #f6f8fa;
    padding-left: 15px;
    padding-right: 15px;
  }

  .pHeader {
    margin-top: 25px;
    font-size: 16px;
    font-weight: bold;
  }

  .pSubHeader {
    margin-top: 25px;
    font-size: 16px;
    text-overflow: ellipsis;
    font-weight: bold;
  }

  .treeContainer {
    border-bottom: 0.5px solid #697caa;
    border-radius: 0px;
    background-color: #fcfdfe;
  }
}

.tabContents {
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  overflow: visible;
  height: 100%;
}

.overviewPlotWrapper {
  display: flex;
  flex-direction: row;
  .datatypeSelector {
    margin-right: 10px;
    align-self: normal;
    font-family: roboto;
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;

    & > h5 {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      margin-top: 4px;
      padding-bottom: 4px;
    }

    .selector {
      padding-bottom: 3px;
      & > p {
        margin-top: 5px;
      }
    }
  }

  .numbersAxis {
    margin-left: 6px;
    margin-right: 15px;
    min-width: 115px;

    & > div {
      font-size: 16px;
      margin: 2px;
    }

    & > h5 {
      font-style: normal;
      font-size: 14px;
      font-weight: bold;
      padding-bottom: 12px;
      margin-top: 14px;
    }
  }

  .plot {
    text-align: center;
    width: 75%;

    @media (max-width: 1150px) {
      width: 40%;
    }

    .plotHeaders {
      align-content: flex-start;
      & > h5 {
        font-style: normal;
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 12px;
      }
    }
  }
}

.doseCurvesLegend {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  border: 1px solid #d9d9d9;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 15px;
  padding: 5px;
  & > div.medianInGroupBox {
    background: #016d5b;
    width: 10px;
    height: 5px;
    margin-right: 5px;
    margin-left: 20px;
    align-self: center;
  }

  & > div.medianOutGroupBox {
    background: #e97451;
    width: 10px;
    height: 5px;
    margin-right: 5px;
    margin-left: 20px;
    align-self: center;
  }

  & > div.modelsBox {
    background: #d9d9d9;
    width: 8px;
    height: 5px;
    margin-right: 5px;
    margin-left: 20px;
    align-self: center;
  }

  & > div.doseCurvesLegendLabel {
    font-size: 10px;
    font-weight: bold;
  }
}

.bottomLegend {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding-top: 10px;

  & > div.lofBox {
    background: #2fa9d0;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    margin-left: 20px;

    @media (max-width: 1050px) {
      margin-left: 8px;
      margin-right: 3px;
    }
  }

  & > div.omicsBox {
    background: #244a95;
    width: 16px;
    height: 16px;
    margin-left: 35px;
    margin-right: 10px;
    @media (max-width: 1050px) {
      margin-left: 8px;
      margin-right: 3px;
    }
  }
  & > div.compoundBox {
    background: #c55252;
    width: 16px;
    height: 16px;
    margin-left: 35px;
    margin-right: 10px;
    @media (max-width: 1050px) {
      margin-left: 8px;
      margin-right: 3px;
    }
  }
  & > div.subtypeBox {
    background: #e1790e;
    width: 16px;
    height: 16px;
    margin-left: 35px;
    margin-right: 10px;
    @media (max-width: 1050px) {
      margin-left: 8px;
      margin-right: 3px;
    }
  }

  & > p.lofLabel {
    width: 25%;
    padding-bottom: 3px;
  }
}

.plotContainer {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 12px;
  overflow: hidden;

  @media (max-width: 1050px) {
    margin-left: 14px;
    margin-right: 14px;
    width: auto;
  }

  .overviewTable {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 20px;
    font-weight: 500;
    font-size: 12px;
  }
}

.geneDepPage {
  display: grid;
  grid-template-columns: 3fr 1fr;

  @media (max-width: 1050px) {
    grid-template-columns: auto;
  }
}

.deButtonRow {
  display: flex;
  flex-direction: row;
  @media (max-width: 1280px) {
    flex-direction: column;
  }
}

.deButtonOffset {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.deButtonContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 10px;
  width: 50%;
  @media (max-width: 1280px) {
    margin-left: 0px;
    width: 100%;
    align-content: flex-start;
  }
}

.deButtonContainerCentered {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  @media (max-width: 1280px) {
    margin-left: 0px;
    width: 100%;
    align-content: flex-start;
  }
}

.resetButton {
  border: none;
  background-color: transparent;
  padding-left: 5px;
  color: #337ab7;
  font-size: 14px;
}

.resetButton:hover {
  color: #000;
}

.deButton {
  color: #ffffff;
  background-color: #4479b2;
  border-color: #4479b2;
  border-radius: 4px;
  margin-left: 15px;
  width: fit-content;
  @media (max-width: 1280px) {
    margin-left: 0px;
    width: 100%;
    align-content: flex-start;
  }
}

.deButton:hover {
  color: #ffffff;
  background-color: #2864a5;
  border-color: #2864a5;
  border-radius: 4px;
  @media (max-width: 1280px) {
    margin-left: 0px;
    width: 100%;
    align-content: flex-start;
  }
}

.makeContextButton {
  color: #ffffff;
  background-color: #4479b2;
  border-color: #4479b2;
  border-radius: 4px;
  margin-right: 120px;
  margin-bottom: 10px;
}

.makeContextButton:hover {
  color: #ffffff;
  background-color: #2864a5;
  border-color: #2864a5;
  border-radius: 4px;
  margin-right: 120px;
  margin-bottom: 10px;
}

.ContextExplorerScatterPlots {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 15px;
  margin-right: 15px;

  .plotControls {
    display: flex;
    flex-direction: row;
    @media (max-width: 1280px) {
      flex-direction: column;
    }

    .outgroupSelectorContainer {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 50%;

      .outgroupSelector {
        margin-bottom: 20px;
        max-width: 198px;
        width: 198px;
        margin-right: auto;
      }
    }

    .legendContainer {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 50%;
      margin-left: 30px;
      align-content: center;
      @media (max-width: 1280px) {
        flex-direction: column;
        margin-left: 0px;
        align-content: flex-start;
        width: 100%;
      }
      .legend {
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
        border: 1px solid #333333;
        border-radius: 4px;
        padding: 10px 10px 0px 10px;
        max-width: fit-content;
        @media (max-width: 1280px) {
          width: 100%;
        }
      }
      .legendDisabled {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        border: 1px solid #333333;
        border-radius: 4px;
        padding: 10px 10px 0px 10px;
        max-width: fit-content;
        margin-right: 55px;
        opacity: 0.5;
        background: #ccc;
      }
    }
  }

  .plots {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    @media (max-width: 1280px) {
      flex-direction: column;
    }
    .leftPlot {
      flex-direction: column;
      margin-right: 15px;
      width: 50%;
      overflow: hidden;
      @media (max-width: 1280px) {
        flex-direction: row;
        padding-bottom: 8px;
        margin-right: 0px;
        width: 100%;
      }
    }

    .rightPlot {
      flex-direction: column;
      margin-left: 15px;
      width: 50%;
      overflow: hidden;
      @media (max-width: 1280px) {
        flex-direction: row;
        padding-top: 8px;
        margin-left: 0px;
        width: 100%;
      }
    }
  }
}

.doseCurvesTile {
  background-color: #ffffff;
  padding-bottom: 5px;
  margin-top: 10px;

  @media (max-width: 1050px) {
    border: 1px solid #d9d9d9;
  }
}

.right {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-left: 0;
  margin-right: 0;
  height: 100%;
  background: #697caa1a;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 400px;
  max-width: 400px;
  .plotFrame {
    margin-bottom: 20px;
    @media (max-width: 1050px) {
      background-color: white;
    }
  }

  @media (max-width: 1050px) {
    height: auto;
    background-color: white;
    border: 1px solid #d9d9d9;
    margin-left: 14px;
    margin-right: 14px;
    width: auto;
  }
}

.scatterPlot {
  border: 1px solid #d9d9d9;

  :global .modebar {
    display: none;
  }
}

.datasetOverlapContiner {
  margin-top: 25px;
  margin-left: 20px;
  margin-bottom: 15px;
  font-size: 16px;

  & > div {
    padding-bottom: 10px;
  }

  .contextButton {
    color: #4479b2;
    border-color: #4479b2;
    border-width: 1.5px;
  }
}

.overviewGraphHeader {
  margin-left: 20px;
  margin-bottom: 20px;

  & > h4 {
    font-weight: normal;
    max-width: 79%;
  }
  & > h2 {
    font-weight: 600;
  }
}

.overviewTableHeader {
  margin-left: 20px;
}

.LegendLabels {
  display: flex;
  flex-direction: row;
}

.LegendLabels {
  overflow: auto;

  button {
    background-color: transparent;
    border: none;
    max-width: 205px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    font-size: 12px;
  }
}

.legendColumn {
  display: flex;
  flex-direction: column;
}

.legendSwatch {
  position: relative;
  top: 2px;
  display: inline-block;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  border: 1px solid #000;
  margin-right: 2px;
  margin-left: 2px;
}

.legendTooltip {
  overflow: hidden;
}

.colorDimensionLabels {
  max-width: 221px;

  & > p {
    font-size: 14px;
    padding-right: 5px;
  }
}

.tableContainer {
  width: 100%;
}

.geneDepTable {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 12px;

  & > hr {
    margin-top: 5px;
  }
}

.geneDepFilters {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 15px;
  @media (max-width: 1610px) {
    flex-direction: column;
    height: auto;
    margin-bottom: 0;
  }

  .FilterInputGroup {
    display: flex;
    flex-direction: row;

    & > div {
      display: flex;
      flex-direction: row;
      margin-bottom: 40px;
      padding-bottom: 8px;
      max-width: 520px;

      & > div {
        display: flex;
        flex-direction: column;
        margin-right: 25px;
        margin-top: auto;
        text-align: left;
        font-weight: bold;
      }
    }
  }
}

.boxPlotHeader {
  & > h2 {
    font-weight: 600;
  }
  & > h4 {
    font-weight: normal;
    max-width: 79%;
  }
}

.scatterPlotContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: visible;

  & > div {
    border: 1px solid #b8b8b8;

    &:not(:last-child) {
      border-bottom: none;
    }
  }
}
