.container {
  margin: 0 auto;
  width: 500px;
  padding: 30px;
  color: inherit;
  background-color: #eee;
  text-align: center;
}

.container p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
