{% extends "nav_footer.html" %}

{% block content %}
    <style>
        ol.doublespace li { margin-bottom: 1em; }
    </style>
    <div>
        <p>Last Revised: March 19th, 2018</p>

        <h1>Overview of Terms</h1>
        <ol class="doublespace">
            <li>
                These Terms of Use reflect the Broad Institute’s commitment to Open Science through its mission to provide freely available online services, databases and software relating to data contributed from life science experiments to the largest possible community. They impose no additional constraints on the use of the contributed data than those provided by the original data owners.
            </li>
            <li>
                The data made available on this website were generated for research purposes and are not intended for clinical use.
            </li>
            <li>
                The original data may be subject to rights claimed by third parties, including but not limited to, patent, copyright, other intellectual property rights, biodiversity-related access and benefit-sharing rights. It is the responsibility of users of Broad Institute services to ensure that their exploitation of the data does not infringe any of the rights of such third parties.
            </li>
        </ol>

        <p>
            The information and materials ("Data") made available on this web site including the database of cancer cell line genomic profiles, mutations, genetic and pharmacologic screening data (referred to collectively herein as the "Database") are made available to you (and your employing entity, where the download or use is within the scope of your employment by such entity- collectively "You").
        <p>

        </p>
        Any questions or comments concerning these Terms of Use can be addressed to: Cancer Dependency Map, Broad Institute, 415 Main Street, Cambridge, MA 02142, USA
        </p>

        <p>
            By accessing and viewing this Database, You agree to the following terms and conditions:
        </p>

        <h1>Attribution:</h1>
        <p>
            You agree to acknowledge in any work (e.g. publications, services or products) based in whole or part on the Data, the published paper from which the Data derives, the version of the Data, and the role of the Broad in its distribution. You agree to use the acknowledgement wording provided for the relevant Data (provided by the original data owners) in its publication.
        </p>

        <p>
            Confidentiality:
        </p>
        <p>
            While many of the cell lines in the Database are established and have been in the public domain for years, You agree to preserve, at all times, the confidentiality of Data pertaining to identifiable Data Subjects. In particular, You shall undertake not to use, or attempt to use the Data to deliberately compromise or otherwise infringe the confidentiality of information on Data Subjects and their right to privacy.
        </p>
        <h1>
            Data Protection:
        </h1>
        <p>
            While these cell lines are established and have been in the public domain for years, You agree that You shall not analyze or make any use of the Data in such a way that has the potential to: (i) lead to the identification of any Data Subject; or (ii) compromise the anonymity of any Data Subject in any way.
        </p>
        <p>
            You agree to take all reasonable security precautions to keep the Data confidential, such precautions to be no less onerous than those applied in respect of your own confidential information.
        </p>
        <h1>
            Updating the Terms of Use:
        </h1>
        <p>
            While we will retain our commitment to Open Science, we reserve the right to update these Terms of Use at any time. When alterations are inevitable, we will attempt to give reasonable notice of any changes by placing a notice on our website, but you may wish to check each time you use the website. The date of the most recent revision will appear on this, the ‘DepMap.org Terms of Use’ page. If you do not agree to these changes, please do not continue to use our online services. We will also make available an archived copy of the previous Terms of Use for comparison.
        </p>

        <h1>
            Indemnification and Disclaimer of Warranties:
        </h1>
        <p>
            You are using this Database at Your own risk, and You hereby agree to hold Broad and its contributors and their trustees, directors, officers, employees, and affiliated investigators harmless for any third party claims which may arise from Your download or use of the Database or any portion thereof. The Database is a research database and is provided "as is". Broad does not represent that the Database is free of errors or bugs or suitable for any particular tasks.
        </p>
        <p>
            ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NONINFRINGEMENT, OR THE ABSENCE OF LATENT OR OTHER DEFECTS ARE DISCLAIMED. IN NO EVENT SHALL BROAD OR ITS CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS DATABASE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
        </p>

        <h1>
            Governing Law:
        </h1>
        <p>
            The terms and conditions herein shall be construed, governed, interpreted, and applied in accordance with the internal laws of the Commonwealth of Massachusetts, U.S.A. Furthermore, by accessing, downloading, or using the Database, You consent to the personal jurisdiction of, and venue in, the state and federal courts within Massachusetts with respect to Your download or use of the Database.
        </p>
    </div>
{% endblock %}
