.page-container {
  padding-block-start: 16px;
}

.controller-container {
  background-color: hsl(210, 14%, 95%);
  border-color: hsl(210, 14%, 85%);
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  padding: 12px;
  margin-block-end: 12px;
}
