@import "./Tabs.scss";
@import "./GeneTeaTabLayout.scss";
@import "./PlotSection.scss";
@import "./PlotSelections.scss";
@import "./PlotOptionsPanel.scss";
@import "../../../../@depmap/data-explorer-2/src/styles/mixins.scss";

.header {
  padding-left: 20px;
  margin-bottom: 18px;
  margin-top: 30px;
  max-width: 150ch;

  h1 {
    color: #333333;
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 9px 0;
  }

  & > p {
    font-size: 16px;
  }
}

.main {
  max-width: 1920px;
}

.errorMessage {
  padding: 24px;
  text-align: center;
  color: #b00020;
  font-weight: 600;
}

.tableParagraph {
  padding-top: 15px;
}

.tableSpinnerContainer {
  padding: 24px;
  text-align: center;
}

.plotSelectionsContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  button {
    font-size: 13px;

    :global .glyphicon {
      position: relative;
      top: 2px;
      left: 4px;
    }
  }
}

.toggleSwitch {
  margin-left: 15px;
  padding-top: 8px;
  .label {
    font-size: 7px;
  }
  button {
    height: 19px;
    transition: background-color 0.2s;
  }
  button[aria-checked="true"],
  button.active,
  button:checked {
    border-width: 2px;
    border-color: rgba(25, 118, 210, 1);
    color: #fff;
  }
}

.GeneTeaMatchingTermPanel {
  min-width: 0;
  overflow: visible;
  z-index: 9999;
}

.GeneTeaModal {
  max-height: 90vh;
  overflow: hidden;

  .tabContent {
    min-height: 500px;
  }
  .geneTeaModalSpinner {
    margin-top: -1px;
    border: 1px solid #4a87ab;
    border-top: 1px solid #fff;
  }

  mark {
    background-color: #ffe3d1;
  }

  .saveAsContextButton {
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .paginationControls {
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;

    .pageCountLabel {
      margin-top: 5px;
      font-size: 12px;
      color: #666;
    }

    .paginationPrevButton {
      margin-right: 10px;
    }

    .paginationNextButton {
      margin-left: 10px;
    }
  }

  table {
    @include scroll-shadow;
    display: block;
    border: 1px solid #4a87ab;
    max-height: calc(68vh - 239px);
    overflow-y: auto;
    margin-bottom: 0;

    thead th {
      border: none;
      color: #fff;
      background-color: #5392b6;
      font-weight: normal;
      font-size: 13px;
      padding: 4px 10px;
      position: sticky;
      top: 0;
    }

    tbody td {
      border: none;
    }

    td,
    th {
      &:first-child {
        min-width: 68px;
        border-right: 1px solid #4a87ab;
      }

      &:nth-child(2) {
        width: 100%;
      }
    }

    tr:nth-child(even) td {
      background-color: rgba(29, 105, 150, 0.1);
    }
  }
}

.linkButton {
  all: unset;
  cursor: pointer;
  color: #337ab7;
  cursor: pointer;
  text-decoration: none;

  &:active {
    text-decoration: underline;
  }

  &:hover {
    color: #23527c;
  }

  &:focus-visible {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: 3px;
  }
}

.termSelector {
  margin-bottom: 15px;
  width: 300px;
}

.tutorialContainer {
  min-height: 400px;
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 0px;

  .tutorialHeader {
    .tutorialTitle {
      font-family: "Lato";
      font-weight: 700;
      font-size: 24px;
    }

    .subtitle {
      font-family: "Lato";
      font-weight: 400;
      font-size: 14px;
      max-width: 85ch;
    }
  }

  .gettingStarted {
    div {
      p {
        font-weight: 400;
        font-size: 14px;
        max-width: 85ch;
      }
    }
  }
}

.TutorialExamples {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px 10px;
}

.TutorialExample {
  width: 30%;

  span:hover {
    figure {
      border: 1px solid #4479b2;
      outline: 2px solid #4479b2;
    }

    dt button {
      color: #23527c;
    }
  }

  figure {
    display: flex;
    justify-content: center;
    border: 1px solid #132041;
    border-radius: 4px;
    margin-top: 10px;
    max-width: 100%;
    aspect-ratio: 6/4;
    overflow: hidden;
    background-color: #fff;

    button {
      all: unset;
      cursor: pointer;
    }

    img {
      width: 99%;
      border-radius: 4px;
    }
  }

  dt {
    max-width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;

    button {
      @extend .pseudoLink;
      font-size: 16px;
      font-weight: bold;
    }
  }

  dd p {
    &:last-child {
      margin: 0;
    }
  }
}

@media (max-width: 1300px) {
  .TutorialExample {
    width: 45%;
  }
}

@media (max-width: 1000px) {
  .TutorialExample {
    width: 100%;
    .modalFooterRow {
      display: flex !important;
      flex-direction: row;
      justify-content: flex-end;
      gap: 10px;
      align-items: center;
    }

    .inverseButton {
      background-color: transparent;
      color: #337ab7;
      border: 1px solid #337ab7;
      padding: 6px 12px;
      border-radius: 4px;
      font-weight: 400;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: #337ab7;
        color: #ffffff;
        text-decoration: none;
      }

      &:active {
        background-color: white;
        border-color: #0056b3;
      }
    }
  }
}
