@import "./Tabs.scss";
@import "./GeneTeaTabLayout.scss";
@import "./PlotSection.scss";
@import "./PlotSelections.scss";
@import "./PlotOptionsPanel.scss";
@import "../../../../@depmap/data-explorer-2/src/styles/mixins.scss";

.header {
  padding-left: 20px;
  margin-bottom: 18px;
  margin-top: 30px;
  max-width: 150ch;

  h1 {
    color: #333333;
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 9px 0;
  }

  & > p {
    font-size: 16px;
  }
}

.main {
  max-width: 1920px;
}

.errorMessage {
  padding: 24px;
  text-align: center;
  color: #b00020;
  font-weight: 600;
}

.tableSpinnerContainer {
  padding: 24px;
  text-align: center;
}

.plotSelectionsContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  button {
    font-size: 13px;

    :global .glyphicon {
      position: relative;
      top: 2px;
      left: 4px;
    }
  }
}

.toggleSwitch {
  margin-left: 15px;
  padding-top: 8px;
  .label {
    font-size: 7px;
  }
  button {
    height: 19px;
    transition: background-color 0.2s;
  }
  button[aria-checked="true"],
  button.active,
  button:checked {
    border-width: 2px;
    border-color: rgba(25, 118, 210, 1);
    color: #fff;
  }
}

.GeneTeaMatchingTermPanel {
  min-width: 0;
  overflow: visible;
  z-index: 9999;
}

.GeneTeaModal {
  max-height: 90vh;
  overflow: hidden;

  mark {
    background-color: #ffe3d1;
  }

  table {
    @include scroll-shadow;
    display: block;
    border: 1px solid #4a87ab;
    max-height: calc(68vh - 239px);
    overflow-y: auto;
    margin-bottom: 0;

    thead th {
      border: none;
      color: #fff;
      background-color: #5392b6;
      font-weight: normal;
      font-size: 13px;
      padding: 4px 10px;
      position: sticky;
      top: 0;
    }

    tbody td {
      border: none;
    }

    td,
    th {
      &:first-child {
        min-width: 68px;
        border-right: 1px solid #4a87ab;
      }

      &:nth-child(2) {
        width: 100%;
      }
    }

    tr:nth-child(even) td {
      background-color: rgba(29, 105, 150, 0.1);
    }
  }
}

.linkButton {
  all: unset;
  cursor: pointer;
  color: #337ab7;
  cursor: pointer;
  text-decoration: none;

  &:active {
    text-decoration: underline;
  }

  &:hover {
    color: #23527c;
  }

  &:focus-visible {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: 3px;
  }
}
