.geneTeaTabLayout {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-areas: "filters main main main main main main main main main main";
  min-height: 100vh;

  @media (max-width: 1200px) {
    grid-template-areas: "filters main";
    grid-template-columns: 1fr 12fr;
    grid-template-rows: auto auto;
  }

  .geneTeaFilters {
    background-color: rgba(123, 140, 178, 0.1);
    border-top: none;
    margin-top: 0;
    padding-top: 0;
    min-width: 260px;
    flex: 0 0 300px;
    align-self: flex-start;
    height: 100%;
    margin-top: 30px;
    border-top: 1px solid black;
  }
  .mainContentSubtitle {
    margin-bottom: 15px;
    max-width: 90ch;
    font-size: 16px;
  }

  .geneTeaTabLayout {
    .mainContentContainer {
      max-width: 95%;
      .mainContentHeader {
        margin-top: 20px;
        margin-bottom: 20px;
        .mainContentHeaderTitle,
        .mainContentTableHeaderTitle {
          font-family: "Lato", "Arial", sans-serif;
          font-size: 20px;
          font-weight: 700;
          font-style: bold;
          line-height: 100%;
        }

        p {
          max-width: 100%;
        }
      }
    }
  }

  .mainContentGrid {
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-template-areas: "plot plot plot plot plot plot plot plot plot selections";

    .plotArea {
      grid-area: "plot";
    }

    .selectionsArea {
      grid-area: "selections";
      @media (max-width: 1250px) {
        margin-top: 20px;
      }
    }

    @media (max-width: 1250px) {
      grid-template-areas:
        "selections"
        "plot";
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      max-width: 65%;
    }
  }

  .mainContentGridAllMatchingTerms {
    display: grid;
    grid-template-columns: 10fr;
    grid-template-areas: "plot plot plot plot plot plot plot plot plot plot";

    .plotAreaAllMatchingTerms {
      grid-area: "plot";
    }
  }

  .mainContentHr {
    border-top: 1px solid #b8b8b8;
    margin-top: 30px;
  }

  .mainContentCellLines {
    margin-top: 20px;
    margin-bottom: 20px;

    p {
      max-width: 780px;
    }
  }
}
