.multiSelectTextareaContainer {
  background-color: #fff;
  margin-left: 25px;
  margin-right: 25px;

  .sectionTitle {
    background-color: rgba(123, 140, 178, 0.1);
    margin: 0;
    padding-top: 25px;
    padding-bottom: 15px;
  }

  .invalidGenesLegend {
    padding: 10px 0 0 0;
    font-size: 13px;
    display: flex;
    align-items: center;
    background-color: rgba(123, 140, 178, 0.1);
  }
  .invalidGenesSwatch {
    width: 18px;
    height: 18px;
    background: #f8bcbc;
    display: inline-block;
    margin-right: 8px;
    border-radius: 3px;
  }
  .validGenesLegend {
    padding: 10px 0 0 0;
    font-size: 13px;
    display: flex;
    align-items: center;
    background-color: rgba(123, 140, 178, 0.1);
  }
  .validGenesSwatch {
    width: 18px;
    height: 18px;
    background: #b6e7b0;
    display: inline-block;
    margin-right: 8px;
    border-radius: 3px;
  }

  .multiSelectTextareaBorder {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    background-color: #fff;

    height: 220px;
    overflow-y: auto;
    flex-wrap: wrap;
    align-items: flex-start;

    .chipList {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      background-color: #fff;

      .chip {
        background: #e0e0e0;
        padding: 3px 8px;
        border-radius: 15px;
        display: flex;
        align-items: center;

        &.chipValid {
          background: #b6e7b0 !important;
          color: #1a4d1a !important;
        }
        &.chipInvalid {
          background: #f8bcbc !important;
          color: #a10000 !important;
        }

        .chipRemoveButton {
          margin-left: 5px;
          background: none;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
}

.buttonRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 35px;
  background-color: rgba(123, 140, 178, 0.1);

  .selectGenesButton {
    width: 91px;
    height: 30px;
    color: #ffffff;
    background-color: #4479b2;
    border: 1px solid #4479b2;
    border-radius: 4px;
    margin-bottom: 10px;
    font-family: "Lato", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s, color 0.2s;
  }

  .selectGenesButton:hover {
    background-color: #2864a5;
    border-color: #2864a5;
  }

  .clearInputButton {
    width: 91px;
    height: 30px;
    color: #4479b2;
    background-color: #ffffff;
    border: 1px solid #4479b2;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-family: "Lato", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s, color 0.2s;
  }

  .clearInputButton:hover {
    background-color: #e6f0fa;
  }
}

textarea:focus {
  outline: none;
}
