.PlotSelections {
  border: 1px solid #b8b8b8;

  .headerDiv {
    color: #ffffff;
    background-color: #7b8cb2;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 700;
    font-family: Lato;
  }

  .mainContent {
    margin: 15px;
  }
}
