// We use css to hide Plotly's toolbar (instead of configuring it not to have
// one) so we can still dispatch clicks on its buttons (the only way to trigger
// a zoom).
.VolcanoPlot :global .modebar {
  display: none;
}
