.container {
  padding: 30px;
}

.container table {
  background: white;
  font-size: 12pt;
  border-collapse: collapse;
}

.container table td,
.container table th {
  padding: 8px;
  border: 1px solid #ddd;
}

.primaryButtons {
  display: flex;
  padding-top: 20px;
  gap: 10px;
}

.tableView {
  overflow-y: auto;
  height: 500px;
}

.unknownIDsText {
  width: 100%;
  p {
    overflow: hidden;
    text-wrap: nowrap;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
