{% extends "nav_footer.html" %} {% block page_title %} {{ about.symbol }} DepMap
Compound Summary {% endblock %} {% block css %} {% assets filters="libsass",
output="public/css/compound_page.css", "css/entities/view_entity.scss",
"css/entities/executive.scss", "css/shared/*.scss",
"css/context_explorer/context_explorer.scss" %}
<link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %} {% endblock %} {% block content_class %}container-fluid{%
endblock content_class %} {% block content %}
<div id="react-compound-page-root"></div>
{% endblock %} {% block js %}
<script id="react-compound-page-data" type="application/json">
  {
    ?? Need something here??
  }
</script>
<script src="{{ webpack_url('compoundPage.js') }}"></script>

{% endblock %}
