{% extends "nav_footer.html" %} {% block page_title %} {{ about.symbol }} DepMap
Compound Summary {% endblock %} {% block css %} {% assets filters="libsass",
output="public/css/compound_page.css", "css/entities/view_entity.scss",
"css/entities/executive.scss", "css/shared/*.scss",
"css/context_explorer/context_explorer.scss" %}
<link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %} {% endblock %} {% block content_class %}container-fluid{%
endblock content_class %} {% block content %}
<div id="react-compound-page-root"></div>
{% endblock %} {% block js %}
<script id="react-compound-page-data" type="application/json">
  {
    "compoundName": {{ name|tojson|safe }},
    "compoundId": {{ compound_id|tojson|safe }},
    "aka": {{ compound_aliases|tojson|safe }},
    "showPredictabilityTab": {{ (has_datasets and has_predictability)|tojson|safe }},
    "hasDatasets": {{ has_datasets|tojson|safe }},
    "order": {{ order|tojson|safe }},
    "isMobile": {{ is_mobile|tojson|safe  }},
    "predictabilityCustomDownloadsLink": {{ predictability_custom_downloads_link|tojson|safe }},
    "predictabilityMethodologyLink": {{ predictability_methodology_link|tojson|safe }},
    "howToImg": "{{ url_for("static", filename="img/celfie/celfie-tutorial.png") }}",
    "showEnrichedLineages": {{ show_enriched_lineages|tojson|safe }},
    "showDoseCurvesTab: {{ show_dose_curve_tab|tojson|safe}},
    "showHeatmapTab": {{ show_heatmap_tab|tojson|safe }}
    "showCorrelatedDependenciesTile: {{ show_correlated_dependencies_tile|tojson|safe}},
    "showRelatedCompoundTiles": {{ show_related_compound_tiles|tojson|safe }}
  }
</script>
<script src="{{ webpack_url('compoundPage.js') }}"></script>

{% endblock %}
