.PredictabilityTab {
  height: 100%;
  padding-bottom: 10px;
  width: 500px;
}

.featurePanel {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: repeat(2, 2fr);
  row-gap: 10px;
  column-gap: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background: white;
}

.featureGraph {
  grid-column: 1;
  grid-row: 1;
  border: 1px solid lightgray;
}



.legendContainer {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80px;
  .legendTitle {
    color: gray;
    align-self: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .bottomLegend {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-self: center;
    width: 100%;

    & > div.cellContextBox {
      background: #3f3f9f;
      width: 18px;
      height: 12px;
      margin-right: 5px;
      margin-left: 5px;

      @media (max-width: 1050px) {
        margin-left: 5px;
        margin-right: 5px;
      }
    }

    & > div.driverEventsBox {
      background: #c55252;
      width: 18px;
      height: 12px;
      margin-left: 8px;
      margin-right: 8px;
      @media (max-width: 1050px) {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
    & > div.geneticDerangementBox {
      background: #e1790e;
      width: 18px;
      height: 12px;
      margin-left: 8px;
      margin-right: 8px;
      @media (max-width: 1050px) {
        margin-left: 5px;
        margin-right: 5px;
      }
    }

    & > div.dnaBox {
      background: #86bdb5;
      width: 18px;
      height: 12px;
      margin-left: 8px;
      margin-right: 8px;
      @media (max-width: 1050px) {
        margin-left: 5px;
        margin-right: 5px;
      }
    }

    & > div.rnaSeqBox {
      background: #2fa9d0;
      width: 18px;
      height: 12px;
      margin-left: 8px;
      margin-right: 8px;
      @media (max-width: 1050px) {
        margin-left: 5px;
        margin-right: 5px;
      }
    }

    & > div {
      // width: 25%;
      padding-bottom: 15px;
      font-size: 12px;
      margin-right: 2px;
    }
  }
}

.DataFilePanel {
  height: auto;
  .dataPanelSection {
    margin-top: 25px;

    .filePanelHeader {
      margin-top: 0px;
      margin-left: 35px;
      margin-right: 35px;
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      gap: 0px;

      .headerColOne {
        color: #707070;
        font-size: 14px;
        grid-column: 1/3;
        grid-row: 1;
      }
      .headerColTwo {
        color: #707070;
        font-size: 14px;
        grid-column: 3/6;
        grid-row: 1;
      }
      .headerColThree {
        color: #707070;
        font-size: 14px;
        grid-column: 6/10;
        grid-row: 1;
      }
    }

    .accordionTitle {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      gap: 0px;
      grid-auto-rows: minmax(20px, auto);
      .one {
        padding-top: 3px;
        color: #000000;
        font-size: 18px;
        grid-column: 1/3;
        grid-row: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-right: 15px;
        min-width: 100px;
      }
      .two {
        padding-top: 2px;
        color: #000000;
        font-size: 18px;
        grid-column: 3/6;
        grid-row: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-right: 15px;
        display: flex;
        flex-direction: row;
        min-width: 420px;

        @media (max-width: 1075px) {
          display: none;
        }
      }
      .three {
        padding-top: 2px;
        color: #000000;
        font-size: 18px;
        grid-column: 6/10;
        grid-row: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-right: 5px;
      }
    }
  }
}

.deButtonContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 10px;
  @media (max-width: 1280px) {
    margin-left: 0px;
    width: 100%;
    align-content: flex-start;
  }
}

.deButton {
  color: #ffffff;
  background-color: #4479b2;
  border-color: #4479b2;
  border-radius: 4px;
  margin-left: 15px;
  width: fit-content;
  @media (max-width: 1280px) {
    margin-left: 0px;
    width: 100%;
    align-content: flex-start;
  }
}

.deButton:hover {
  color: #ffffff;
  background-color: #2864a5;
  border-color: #2864a5;
  border-radius: 4px;
  @media (max-width: 1280px) {
    margin-left: 0px;
    width: 100%;
    align-content: flex-start;
  }
}

.CardContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
