#container_images_prism {
  padding-left: 0px;
  padding-right: 0px;
}

#image_figures {
  width: 100%;
  padding: 4px 0px 4px 0px;
}

/*colored prism text box*/
.callout_box {
  color: white;
  background-color: #00afd7;
  width: 400px;
  padding: 10px 50px 10px 10px;
}
