.dataAvailabilityPlotContainer {
  width: 275px;
  min-width: 275px;
  margin-top: 2px;
  border-bottom: 1px solid black;
  padding-bottom: 0px;
  margin-right: 8px;

  .datatypeSelector {
    margin-left: 4px;
    font-size: 14px;
    min-width: 150px;

    .groupContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .groupLabel {
        grid-column: 1;
        margin-right: 10px;
        align-self: normal;
        font-family: roboto;
        font-size: 16px;
        font-weight: 500;
        margin-top: 5px;

        @media (max-width: 910px) {
          font-size: 14px;
          margin-right: 10px;
        }
      }
    }

    .selector {
      padding-bottom: 3px;
    }
  }
}
