.learnAboutBody {
  margin-left: 60px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;

  @media (max-width: 800px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }

  .col1 {
    grid-column: 1;
    margin-bottom: 15px;

    @media (max-width: 800px) {
      margin-right: 10px;
    }
  }

  .col2 {
    grid-column: 2;
    margin-right: 80px;
    margin-bottom: 15px;

    @media (max-width: 800px) {
      grid-column: 1;
      margin-right: 10px;
      margin-bottom: 15px;
    }
  }
  .paragraphHeader {
    font-family: roboto;
    font-weight: 500;
    font-size: 20px;
    color: #303030;
  }
}
