.OverviewPanel {
  display: flex;
  flex-direction: column;
  height: 100%;

  .releaseDataHeader {
    font-size: 32px;
    font-family: roboto;
    font-weight: bolder;
    margin-left: 80px;
  }

  .releaseDataSubHeader {
    font-size: 24px;
    font-family: roboto;
    font-weight: 500;
    margin-left: 80px;
  }

  .releaseDataSubSubHeader {
    font-size: 20px;
    font-family: roboto;
    font-weight: 400;
    margin-left: 80px;
  }

  .overview {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    padding-top: 20px;
    margin-bottom: 60px;
    width: 100%;

    @media (max-width: 1150px) {
      flex-direction: column;
      padding-bottom: 60px;
    }

    .overviewColumnLeft {
      display: flex;
      flex-direction: column;
      margin-right: 40px;
      margin-left: 80px;
      width: 24%;
      min-width: 24%;
      @media (max-width: 1150px) {
        width: 85%;
        margin-left: 80px;
        margin-right: 40px;
      }

      .overColumnHeader {
        font-family: roboto;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
      }

      .overColumnHeader2 {
        font-family: roboto;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
        margin-top: 42px;
      }

      .overviewParagraph {
        font-family: roboto;
        font-size: "16px";
        margin-bottom: 18px;
      }

      .overviewParagraphBold {
        font-family: roboto;
        font-size: "16px";
        margin-bottom: 18px;
        font-weight: 500;
      }

      .overviewParagraphBold2 {
        font-family: roboto;
        font-size: "16px";
        margin-bottom: 35px;
        font-weight: 500;
      }
    }

    .overviewColumnRight {
      display: flex;
      flex-direction: column;
      margin-left: 80px;
      margin-right: 50px;
      @media (max-width: 1350px) {
        margin-left: 0px;
      }
      @media (max-width: 1150px) {
        margin-top: 50px;
        margin-left: 80px;
        margin-right: 40px;
        width: 85%;
      }
    }
  }
}
