.StructureAndDetailTile {
  .metadataLine {
    font-size: 14px;
    font-family: "Lato";
    line-height: 24px;
    display: flex;
    align-items: baseline;
    overflow: hidden;
    word-wrap: break-word;
    max-width: 380px;
    & a {
      overflow: hidden;
      max-width: 380px;
    }
    .metadataLineLabel {
      font-weight: 700;
      text-align: left;
    }
    .metadataLineLabel:after {
      content: "\00a0"; /* Unicode for non-breaking space */
    }
  }
}

.errorMessage {
  padding: 24px;
  text-align: center;
  color: #b00020;
  font-weight: 600;
}
