.HeatmapTile {
  padding: 24px;

  .subHeader {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 10px;
  }

  .tableColumnHeader {
    font-size: 14px;
    font-weight: 700;
  }
}

.errorMessage {
  padding: 24px;
  text-align: center;
  color: #b00020;
  font-weight: 600;
}

.infoImage {
  height: 13px;
  margin: 1px 3px 4px 3px;
  cursor: pointer;
}
