{% extends "full_page.html" %}

{% block page_title %}
    Compound Dashboard | DepMap Portal
{% endblock %}

{% block content_class %}{% endblock %}

{% block css %}
    {% assets
      filters="libsass",
      output="public/css/compound_dashboard.css", "css/entities/executive.scss", "css/shared/*.scss"
    %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}

{% block meta_description %}
    Compound Dashboard tool
{% endblock %}

{% block content %}
    <div class='full-screen-div'>
        {% include "nav_footer/nav.html" %}
        <div id="react-compound-dashboard"></div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ webpack_url('compoundDashboard.js') }}"></script>
{% endblock %}
