@import "mixins";

.DatasetDetails {
  display: flex;
  min-height: 300px;
  max-height: calc(100vh - 208px);
  transition: height 200ms ease-in;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  padding-top: 30px;
}

.DataVersionMarkdown {
  @include scroll-shadow;
  margin-left: 15px;
  padding: 0 20px;
  overflow: auto;
}

.emptyDatasetDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 20px;
  font-weight: 300;

  :global .glyphicon {
    font-size: 24px;
    margin-right: 5px;
  }
}
