{% extends "full_page.html" %}

{% block page_title %}
    DepMap LineUp Interactive Table
{% endblock %}

{% block meta_description %}
    Investigate the relationships between DepMap datasets
{% endblock %}

{% block content %}
    <div class='full-screen-div'>
        {% include "nav_footer/nav.html" %}
        <div class="controlled-plot-container" id="react-interactive-table-root">
            <div style="display: flex; align-items: center; justify-content: center; width: 100%;">
                <div class="spinner" style="/* align-items: center */"><div class="rect1"></div><div class="rect2"></div><div class="rect3"></div><div class="rect4"></div><div class="rect5"></div></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script id="react-interactive-table-data" type="application/json">
    {
        "feedbackUrl": "{{ config.FEEDBACK_FORM_URL | safe }}"
    }
</script>
<script src="{{ webpack_url('interactiveTable.js') }}"></script>
{% endblock %}
