services:
  breadbox-service:
    container_name: breadbox-service
    image: depmap-breadbox
    mem_limit: "5G"
    depends_on:
      - breadbox-redis
      - breadbox-worker
    command:
      [
        "uvicorn",
        "breadbox.main:app",
        "--host",
        "0.0.0.0",
        "--port",
        "8000",
        "--root-path",
        "/breadbox",
      ]
    environment:
      - CELERY_BROKER_URL=redis://breadbox-redis:6379/0
      - CELERY_RESULT_BACKEND=redis://breadbox-redis:6379/0

    ports:
      - 127.0.0.1:8000:8000
    networks:
      - redis-net
    volumes:
      - ./data:/data
      - ./result:/result
      - ./.env:/install/breadbox/.env

  breadbox-redis:
    container_name: breadbox-redis
    image: redis:4.0.5-alpine
    command:
      [
        "redis-server",
        "--appendonly",
        "no",
        "--maxmemory",
        "4gb",
        "--maxmemory-policy",
        "allkeys-lru",
      ]
    mem_limit: "5G"
    hostname: breadbox-redis
    networks:
      - redis-net

  breadbox-worker:
    container_name: breadbox-worker
    command: ["./bb", "run_worker"]
    mem_limit: "5G"
    image: depmap-breadbox
    environment:
      - CELERY_BROKER_URL=redis://breadbox-redis:6379/0
      - CELERY_RESULT_BACKEND=redis://breadbox-redis:6379/0
    networks:
      - redis-net
    depends_on:
      - breadbox-redis
    volumes:
      - ./data:/data
      - ./result:/result
      - ./.env:/install/breadbox/.env

networks:
  redis-net:
