#context-explorer-lineage-selection {
  font-weight: bolder;

  .div {
    border-radius: 0px;
  }
}

.refine_context_tree {
  .top_button.btn.btn-link {
    margin-left: 1px;
    border: none;
    text-align: left;
    white-space: pre-line;
    word-break: break-word;
    color: #4479b2;
    outline: none;
    // text-decoration: none;
    font-weight: 600;
    width: 100%;
    padding-right: 8px;
  }
  .depmap-accordion {
    margin: 0px !important;
    padding: 8px;
    .accordion-header {
      margin-left: 0px;
      background-color: #fff;
      padding: 0px;

      .btn {
        padding: 0px !important;
      }

      .accordion_title_button.btn.btn-link {
        margin: 0px !important;
        color: #4479b2;
        // text-decoration: none;
        outline: none;
        padding-bottom: 5px;
        font-weight: 600;
        width: 92%;
      }

      .accordion-title {
        color: #4479b2;
        float: right;
        width: 93% !important;
      }
    }

    .accordion_contents {
      //margin-left: 12px;
      border: 0;
      text-align: left;
      white-space: pre-line;
      word-break: break-word;
      color: #4479b2;
      outline: 0;
      width: 100%;
      // text-decoration: none;
    }
  }
}

.btn.btn-link {
  padding: 10px 4px 10px 10px !important;
}

// This is probably bad/hacky, but the documented way of hiding the Plotly modebar
// (adding this to the config: {displayModeBar: false}) did not work for some reason
.react-base-plot-toolbar {
  display: none;
}

.modebar-btn {
  display: none;
}

.svg-container {
  margin-top: 32px;
}

.striped-row {
  min-width: max-content !important;
  &:nth-child(odd) {
    background-color: #f6f8fa;
  }
}

#maxEntry {
  width: 60px !important;
}
#minEntry {
  width: 60px !important;
}

#context-explorer-download-plot-icon {
  margin-right: 15px;
  padding: 1px 4px;
}

#thing {
  margin-bottom: 10px;
}
