#context-explorer-lineage-selection {
  font-weight: bolder;

  .div {
    border-radius: 0px;
  }
}

#context-explorer-tree-tabs {
  width: 100%;
  height: 100%;
  background-color: #f6f8fa;
}
.nav-tabs {
  background-color: #ffffff;
}

#context-explorer-box-plots {
  .panel-default > .panel-heading {
    background-color: transparent !important;
  }
}

#enrichment-tile {
  .panel-group > .panel {
    margin-bottom: 5px !important;
  }
}

.btn.btn-link {
  padding: 10px 4px 10px 10px !important;
}

// This is probably bad/hacky, but the documented way of hiding the Plotly modebar
// (adding this to the config: {displayModeBar: false}) did not work for some reason
.react-base-plot-toolbar {
  display: none;
}

.modebar-btn {
  display: none;
}

.svg-container {
  margin-top: 32px;
}

.striped-row {
  min-width: max-content !important;
  &:nth-child(odd) {
    background-color: #f6f8fa;
  }
}

#maxEntry {
  width: 60px !important;
}
#minEntry {
  width: 60px !important;
}

#context-explorer-download-plot-icon {
  margin-right: 15px;
  padding: 1px 4px;
}

#thing {
  margin-bottom: 10px;
}
