# TAIGA_PREPROCESSOR_INCLUDE "../../../depmap-deploy/current-dataset-ids/internal.conseq"

# Destination Taiga ID
add-if-missing {
 "type": "release_taiga_id",
 "dataset_id": PREPROCESS_FORMAT_STR("{virtual_permaname}")
}

# CN gene expression data
add-if-missing {
  "type": "cngene",
  "dataset_id": PREPROCESS_TAIGA_ID(virtual_permaname, "PortalOmicsCNGeneLog2") 
}

# Model
add-if-missing {
  "type": "model",
  "dataset_id": PREPROCESS_TAIGA_ID(virtual_permaname, "Model") 
}

# Portal Compounds
add-if-missing {
  "type": "repsdrug_matrix",
  "dataset_id": "repurposing-public-24q2-875f.4/Repurposing_Public_24Q2_Extended_Primary_Data_Matrix"
}

add-if-missing {
  "type": "repsdrug_auc_matrix",
  "dataset_id": "public-non-quarterly-processed-files-8e90.64/repsdrug-auc-matrix"
}

add-if-missing {
  "type": "portal_compounds",
  "dataset_id": "compound-metadata-de37.32/PortalCompounds"
}

add-if-missing {
  "type": "prism_oncology_reference_auc_matrix",
  "dataset_id": PREPROCESS_TAIGA_ID(virtual_permaname, "PRISMOncologyReferenceAUCMatrix") 
}

# HGNC Gene Table
add-if-missing {
  "type": "hgnc_gene_table",
  "dataset_id": "hgnc-gene-table-e250.3/hgnc_complete_set"
}

# Driver Events
add-if-missing {
  "type": "mutations",
  "dataset_id": PREPROCESS_TAIGA_ID(virtual_permaname, "OmicsSomaticMutations") 
}

add-if-missing {
  "type": "oncokb_annotated",
  "dataset_id": "oncokb-annotated-mutations-7e2e.17/oncokb_annotated"
}

# Fusion
add-if-missing {
  "type": "fusion",
  "dataset_id": PREPROCESS_TAIGA_ID(virtual_permaname, "OmicsFusionFiltered") 
}

# CRISPR Confounders
add-if-missing {
  "type": "achilles_screen_qc_report",
  "dataset_id": PREPROCESS_TAIGA_ID(virtual_permaname, "AchillesScreenQCReport") 
}

add-if-missing {
  "type": "crispr_screen_map",
  "dataset_id": PREPROCESS_TAIGA_ID(virtual_permaname, "CRISPRScreenMap") 
}

# Target Matrices
add-if-missing {
    "type": "target_matrix",
    "label": "crispr_gene_effect",
    "source_dataset_id": PREPROCESS_TAIGA_ID(virtual_permaname, "CRISPRGeneEffect")
}

add-if-missing {
    "type": "target_matrix",
    "label": "rnai",
    "source_dataset_id": "predictability-legacy-datasets-8c54.14/RNAiDep"
}

add-if-missing {
    "type": "target_matrix",
    "label": "oncref",
    "source_dataset_id": "oncref-24q4-target-b029.1/OncRef-24Q4-Target-Matrix"
}

# Feature Matrices
add-if-missing {
    "type": "feature",
    "label": "lineage",
    "category": "lineage",
    "source_dataset_id": PREPROCESS_TAIGA_ID(virtual_permaname, "SubtypeMatrix")
}

add-if-missing {
    "type": "feature",
    "label": "crispr_confounder",
    "category": "confounder",
    "source_dataset_id": PREPROCESS_TAIGA_ID(virtual_permaname, "PredictabilityCRISPRConfoundersTransformed")
}

add-if-missing {
    "type": "feature",
    "label": "rnai_confounder",
    "category": "confounder",
    "source_dataset_id": "predictability-legacy-datasets-8c54.14/RNAiConfounders"
}

add-if-missing {
    "type": "feature",
    "label": "oncref_confounder",
    "category": "confounder",
    "source_dataset_id": "prism-oncology-reference-set-24q4-c0d0.3/PRISMOncologyReferenceConfounderMatrix"
}

add-if-missing {
    "type": "feature",
    "label": "driver_events",
    "category": "driverevents",
    "source_dataset_id": PREPROCESS_TAIGA_ID(virtual_permaname, "PredictabilityDriverEventsTransformed")
}

add-if-missing {
    "type": "feature",
    "label": "armlevel_cna",
    "category": "armlevel",
    "source_dataset_id": PREPROCESS_TAIGA_ID(virtual_permaname, "OmicsArmLevelCNA")
}

add-if-missing {
    "type": "feature",
    "label": "cytoband_cn",
    "category": "cytoband",
    "source_dataset_id": PREPROCESS_TAIGA_ID(virtual_permaname, "PredictabilityGeneticDerangementTransformed")
}

add-if-missing {
    "type": "feature",
    "label": "genetic_signature",
    "category": "geneticsignature",
    "source_dataset_id": PREPROCESS_TAIGA_ID(virtual_permaname, "OmicsSignatures")
}

add-if-missing {
    "type": "feature",
    "label": "mutations_hotspot",
    "category": "gene",
    "source_dataset_id": PREPROCESS_TAIGA_ID(virtual_permaname, "OmicsSomaticMutationsMatrixHotspot")
}

add-if-missing {
    "type": "feature",
    "label": "mutations_damaging",
    "category": "gene",
    "source_dataset_id": PREPROCESS_TAIGA_ID(virtual_permaname, "OmicsSomaticMutationsMatrixDamaging")
}

add-if-missing {
    "type": "feature",
    "label": "gene_cn",
    "category": "gene",
    "source_dataset_id": PREPROCESS_TAIGA_ID(virtual_permaname, "OmicsCNGene")
}

add-if-missing {
    "type": "feature",
    "label": "loh",
    "category": "gene",
    "source_dataset_id": PREPROCESS_TAIGA_ID(virtual_permaname, "OmicsLoH")
}

add-if-missing {
    "type": "feature",
    "label": "rnaseq",
    "category": "gene",
    "source_dataset_id": PREPROCESS_TAIGA_ID(virtual_permaname, "OmicsExpressionProteinCodingGenesTPMLogp1")
}
