# SET_TAIGA_PREPROCESSOR repurposing_taiga_id "repurposing-public-24q2-875f.4"

# These artifacts are used to associate with the dataset name  "Rep_all_single_pt". 
add-if-missing {
    'type' : 'repallsinglept-taiga-id',
    'label' : 'Rep_all_single_pt', # matches with Dataset enum
    'dataset_id' : PREPROCESS_TAIGA_ID(repurposing_taiga_id, "Repurposing_Public_24Q2_Extended_Primary_Data_Matrix"),
}

## These "Rep_all_single_pt" artifacts are used for context analysis

add-if-missing {
    "type": "repurposing_matrix_taiga_id",
    "dataset_id": PREPROCESS_TAIGA_ID(repurposing_taiga_id, "Repurposing_Public_24Q2_Extended_Primary_Data_Matrix")
}

add-if-missing {
    "type": "repurposing_list_taiga_id",
    "dataset_id": PREPROCESS_TAIGA_ID(repurposing_taiga_id, "Repurposing_Public_24Q2_Extended_Primary_Compound_List")
}

## These "Rep_all_single_pt" artifacts are used for the compound dashboard summary table
add-if-missing {
    "type": "needs-compound-dashboard",
    "dataset": "Rep_all_single_pt",
    "units": "log2 fold change" # Must match shared.py
}

add-if-missing {
    'type' : 'raw-treatment_metadata',
    'label' : 'Rep_all_single_pt',
    'dataset_id' : PREPROCESS_TAIGA_ID(repurposing_taiga_id, "Repurposing_Public_24Q2_Treatment_Meta_Data")
}
add-if-missing {
  "type": "download_from_taiga",
  "target_type": "drug-metadata",
  "dataset_id":  PREPROCESS_TAIGA_ID(virtual_dataset_id, "PortalCompounds"),
  "name": "merged-drugs",
  "label": "compound_metadata",
  "format": "csv"
}
