.accordion {
  padding-bottom: 2px;

  .accordion-toggle-trigger {
    cursor: pointer;

    .accordion-title {
      background-color: #eee;
      padding: 8px;

      .accordion-title-text {
        font-weight: 600;
      }
    }
  }

  .highlight {
    padding-left: 2px;
    padding-right: 2px;
    background-color: #f2c5df;
    color: black;
  }

  .accordion-toggle-target {
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.2s ease-out;

    .accordion-contents {
      padding-top: 4px;
      padding-bottom: 14px;
    }
  }

  th {
    padding: 4px 10px 4px 10px;
    font-weight: bold;
  }

  td {
    padding: 10px;
    text-align: left;
    border-right: 1px solid white;
    border-bottom: 1px solid #ddd;
  }

  .hg19 {
    background-color: #eee;
    font-weight: bold;
  }

  .hg19lift {
    background-color: #c2b4c7;
    font-weight: bold;
  }

  .hg38 {
    background-color: #a9529e;
    color: white;
    font-weight: bold;
  }
}

.executive-card-accordion {
  padding-bottom: 2px;

  .accordion-toggle-trigger {
    cursor: pointer;

    .accordion-title {
      background-color: white;
      padding: 0px;

      .accordion-title-text {
        font-weight: 600;
      }
    }
  }

  .accordion-toggle-target {
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.2s ease-out;

    .accordion-contents {
      padding-top: 4px;
      padding-bottom: 14px;
    }
  }
}
